<span style='color: #000' title='Frames'>   376</span><span style='color: #009' title='Memory'>  12288.00 KB</span><span style='color: #900' title='Time'>    305.61 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />