{% set steps = [
    {
        label: "Email",
        url: 'store/checkout'
    },
    {
        label: "Account",
        url: 'store/checkout/register-signin'
    },
    {
        label: "Address",
        url: 'store/checkout/addresses'
    },
    {
        label: "Shipping",
        url: 'store/checkout/shipping'
    },
    {
        label: "Payment",
        url: 'store/checkout/payment'
    }
] %}

{% if width is not defined %}
    {% set width = 0 %}
{% endif %}

<div class="steps">
    <ul>
        {% for key, step in steps %}

            {% set class = '' %}
            {% if craft.app.request.pathInfo == step.url %}
                {% set width = ((key + 1) * 100 / steps|length) - 20 %}
                {% set class = "sel" %}
                {% set currentStep = key %}
            {% endif %}

            {% if currentStep is not defined %}
                {% set class = "done" %}
            {% endif %}

            <li class="{{ class }}"><a href="{{ url( step.url ) }}">{{ step.label }}</a></li>
        {% endfor %}
    </ul>

    <div class="meter">
        <span style="width: {{ width }}%"></span>
    </div>
</div>
