{% if showShippingAddress is not defined %}
    {% set showShippingAddress = false %}
{% endif %}

{% if showShippingMethod is not defined %}
    {% set showShippingMethod = false %}
{% endif %}

<div class="order-review mt-8">
    <h3 class="mt-0">{{'Order Review'|t}}</h3>

    {% if showShippingAddress %}
        <div>
            <h4>{{'Shipping to'|t}}</h4>
            {% if cart.shippingAddress %}
                <div class="address-select border-0">
                    {% include 'shop/_includes/addresses/address' with {'address': cart.shippingAddress} %}
                </div>
            {% else %}
                <p>{{"No shipping address selected"|t}}.</p>
            {% endif %}

            {% if currentUser %}<a class="c-btn c-btn--primary -version-four -mg-btm" href="{{ url('store/addresses'|t) }}">{{"Edit"|t}}</a>{% endif %}
        </div>
    {% endif %}

    {% if showShippingMethod %}
        <h4>{{'Shipping method'|t}}</h4>

        <p>
            {% if cart.shippingMethod %}
                {{ cart.shippingMethod.name }}
            {% else %}
                {{'No shipping method selected.'|t}}
            {% endif %}
        </p>

        <hr>
    {% endif %}

<div class="c-items">
    <h4>{{'Items'|t}}</h4>
    <ul class="list-reset leading-normal">
        {% for item in cart.lineItems %}
            <li>
                <div class="o-layout">
                    <div class="o-layout__item u-2/3">
               <p>{{ item.purchasable.product.title }}</p>
               <p class="c-cart_product-variant">
{% if item.purchasable.product.type == "syrup" %}
    {% if item.purchasable.couleur.value != 99 %} {{item.purchasable.couleur.label|t}}{% endif %}
    {% if item.purchasable.productFormat.value != 99 %} {{item.purchasable.productFormat.label|t}}{% endif %}
    {% if item.purchasable.productQuality.value != 99 %} {{item.purchasable.productQuality.label|t}}{% endif %}
 {% elseif item.purchasable.product.type == "mapleProducts" %}
    {% if item.purchasable.productFormat.value != 99 %} {{item.purchasable.productFormat.label|t}}{% endif %}
{% elseif item.purchasable.product.type == "nuts" %}
    {% if item.purchasable.formatNoix.value != 99 %} {{item.purchasable.formatNoix.label|t}}{% endif %}
{% elseif item.purchasable.product.type == "giftWrapping" %}
    {% if item.purchasable.productQuality.value != 99 %} {{item.purchasable.productQuality.label|t}}{% endif %}
{% elseif item.purchasable.product.type == "giftBasket" %}
    {% if item.purchasable.bouteille.value != 99 %} {{item.purchasable.bouteille.label|t}}{% endif %}
    {% if item.purchasable.produit.value != 99 %} {{item.purchasable.produit.label|t}}{% endif %}
    {% if item.purchasable.productQuality.value != 99 %} {{item.purchasable.productQuality.label|t}}{% endif %}
{% endif %}   
</p>
</div>
<div class="o-layout__item u-1/3 u-align-right">
                <span>{{ item.subtotal|commerceCurrency(cart.currency) }}</span>
            </div></div>
            </li>
        {% endfor %}
        </ul>
</div>
<div class="c-fees">
<ul class="list-reset leading-normal">
        {% for adjustment in cart.adjustments %}
            <li>
                <strong>{{ adjustment.name|t }}</strong> <span class="float-right">{{ adjustment.amount|commerceCurrency(cart.currency) }}
                    {% if  adjustment.description|length %}({{ adjustment.description }}){% endif %}</span>
            </li>
        {% endfor %}
</ul>
</div>
        {% if not cart.shippingMethod %}

            {#
            If the order requires a shipping method be selected, you could redirect back to the shipping page until one is applied to the order.
            {% redirect "shop/checkout/shipping" %}
            You might also want to add a php plugin hook to require
            #}

            <li>
                <strong>Shipping</strong> None selected. <a href="{{ url('store/checkout/shipping') }}">Choose a shipping method.</a>
            </li>
        {% endif %}
        <div class="c-total">
<ul class="list-reset leading-normal">
        <li>
            Total {{ cart.currency }}: <span class="float-right">{{ cart.totalPrice|commerceCurrency(cart.currency) }}</span>
        </li>
    </ul>
    </div>
        {% if cart.currency != cart.paymentCurrency %}
            <li>
                <strong>Payment {{ cart.paymentCurrency }}:</strong> <span class="float-right">{{ cart.totalPrice|commerceCurrency(cart.paymentCurrency,convert=true) }}</span>
            </li>
        {% endif %}
    </ul>
</div>