{% extends 'shop/_layouts/checkout' %}

{% set addresses = craft.commerce.customers.customer.addresses %}

{% block content %}
    {# UI when at least one address exists #}

    <div class="o-layout o-layout--reverse">
        <div class="o-layout__item c-order-review u-1/2@portrait-large-tablet">
            {% include "shop/_includes/order-review" with {  } %}
        </div>        
        <div class="o-layout__item c-addresses u-1/2@portrait-large-tablet">

            <form method="post" class="c-form">

                <input type="hidden" name="action" value="commerce/cart/update-cart">
                {{ redirectInput('shop/checkout/shipping') }}

                {{ csrfInput() }}

                {% if not cart.email %}
                    <label for="email">Email</label>
                    <input id="email" class="w-full" type="text" value="{{ cart.email }}" name="email"
                           placeholder="email@site.com"/>

                    <span class="flash">{{ cart.getErrors('email')|join }}</span><br>
                {% endif %}

                {% include 'shop/_includes/addresses/fieldset' with {
                    title: "Shipping Address"|t,
                    class: 'ShippingAddress',
                    name: 'shippingAddress'
                } %}
<div class="c-radio_list">
                <input type="hidden" name="billingAddressSameAsShipping" value="0">
                {#<input type="hidden" name="shippingAddressSameAsBilling" value="0">#}

                <div class="field"><label class="c-resp" for="billingAddressSameAsShipping"><input id="billingAddressSameAsShipping" name="billingAddressSameAsShipping" type="checkbox" checked="checked"/><p class="label-body">{{'Use same address for billing'|t}}</p></label></div>

                <div class="field"><label class="c-resp" for="makePrimaryShippingAddress"><input id="makePrimaryShippingAddress" name="makePrimaryShippingAddress" type="checkbox"/><p class="label-body">{{'Make this the primary shipping address'|t}}</p></label></div>
{# 
                <div class="field"><label class="c-resp" for="shippingAddressSameAsBilling"><input id="shippingAddressSameAsBilling" name="shippingAddressSameAsBilling" type="checkbox" checked="checked"/><p class="label-body">Use same address for
                {#shipping</p></label></div>#}

                {% include 'shop/_includes/addresses/fieldset' with {
                    title: "Billing Address"|t,
                    class: 'BillingAddress hidden',
                    name: 'billingAddress'
                } %}

                <div class="field"><label class="c-resp" for="makePrimaryBillingAddress"><input id="makePrimaryBillingAddress" name="makePrimaryBillingAddress" type="checkbox"/><p class="label-body">{{'Make this the primary billing address'|t}}</p></label></div>
</div>

                <input type="submit" class="c-btn c-btn--primary" value="{{'Confirm address'|t}}">

            </form>
        </div>


    </div>

    {% js %}
    var $fieldsets = $('.address-fieldset');

    $fieldsets.each(function () {

        var $addressFieldset = $(this);

        $('.address-select', $addressFieldset).each(function () {

            this.$element = $(this);
            this.$radio = $('.radio input', this.$element);
            this.$body = $('.body', this.$element);

            this.$radio.change($.proxy(function () {
                $('.body', $addressFieldset).addClass('hidden');
                this.$body.removeClass('hidden');
            }, this));

            if (this.$radio.is(':checked')) {
            this.$body.removeClass('hidden');
            }
        });

    });

    $("#billingAddressSameAsShipping").change(function (e) {
        $('.address-fieldset.BillingAddress').toggleClass('hidden');
    });

    {% if (cart.billingAddressId and cart.billingAddress.hasErrors()) or (cart.billingAddressId != cart.shippingAddressId) %}
        $("#billingAddressSameAsShipping").click();
    {% endif %}
    {% endjs %}

{% endblock %}
