{% if currentUser %}
    {% redirect 'shop/addresses'|t %}
{% endif %}

{% extends 'shop/_layouts/checkout' %}

{% block content %}
    <h2 class="u-color-one">{{'Enter your email to start'|t}}</h2>
    <div class="u-1/2@portrait-large-tablet u-1/1@portrait-small-handset">
            <form id="c-inscription" class="c-form" method="POST">
                <input type="hidden" name="action" value="commerce/cart/update-cart">
                {{ redirectInput('account/registration'|t) }}
                {{ csrfInput() }}

        <div class="c-form_field">
            <input id="email"  class="c-form_input" type="email" name="email" value="{{ cart.email }}" >
            <div class="c-status"></div>
            <label class="c-form_label">{{'Email'|t}}</label>
            <span class="focus-border"></span>
        </div>   



                {% set emailErrors = cart.getErrors('email') %}
                {% if emailErrors|length %}
                <span class="text-red">{{ emailErrors|join }}</span><br>
                {% endif %}

                <div class="buttons">
                    <input type="submit" value="{{'Continue'|t}}" class="c-btn c-btn--primary"/>
                </div>
            </form>

<a class="c-shop_link" href="{{siteUrl}}{{'account/connection'|t}}">{{'Already have an account?'|t}}</a>

    </div>
{% endblock %}
