{% if currentUser %}
    {% redirect 'shop/checkout/addresses' %}
{% endif %}

{% extends 'shop/_layouts/checkout' %}

{% block content %}
<form method="post" accept-charset="UTF-8" class="c-form u-1/2">
    {{ csrfInput() }}
    {{ actionInput('users/login') }}
{{ redirectInput('shop/customer/index') }}
            <div class="c-form_field">
                <input id="loginName" class="c-form_input" type="text" name="loginName" value="{{ craft.app.user.getRememberedUsername() }}">
                <div class="c-status"></div>
                <label class="c-form_label">{{"Username"|t}}</label>
                <span class="focus-border"></span>
            </div>

            <div class="c-form_field">
                <input id="loginPassword" class="c-form_input" type="password" name="password">
                <div class="c-status"></div>
                <label class="c-form_label">{{"Password"|t}}</label>
                <span class="focus-border"></span>
            </div>

                <div class="field -remember-me">
                    <label>
                        <input type="checkbox" name="rememberMe" value="1">
                        <p>{{'Remember me'|t}}</p>
                    </label>
                </div>

                <div class="buttons -left">
                    <input type="submit" value="{{'Login'|t}}" class="c-btn c-btn--primary -login"/>
                </div>

    {% if errorMessage is defined %}
        <p>{{ errorMessage }}</p>
    {% endif %}
</form>

<p><a href="{{ url('forgotpassword') }}">{{'Forget your password?'|t}}</a></p>
{% endblock %}
