{% if currentUser %}
    {% redirect 'store/addresses'|t %}
{% endif %}

{% extends 'shop/_layouts/checkout' %}

{% block content %}

    {% if not cart.email %}
        {% redirect 'account/registration-step-one'|t %}
    {% endif %}

    {# Does a user exist with this email address? #}

    {% set userExists = craft.users.email(cart.email).one() %}
    {% set userExistsButCantLogin = craft.users.email(cart.email).status(['locked','suspended','pending']).one() %}

    {% if userExistsButCantLogin %}
            {% redirect 'store/addresses'|t %}
    {% endif %}

    <div class="o-layout">
        <div class="o-layout__item u-1/2@portrait-large-tablet u-1/1@portrait-small-handset border-r border-grey-lighter">
            {% if userExists %}
            <h2 class="u-color-one">{{'Sign In'|t}}</h2>

            <form method="post" accept-charset="UTF-8" class="c-accont_register c-form">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="users/login">
                {{ redirectInput('store/addresses'|t) }}

            <div class="c-form_field">
                <input id="loginName" class="c-form_input" type="text" name="loginName" value="{{ craft.app.user.getRememberedUsername() }}">
                <div class="c-status"></div>
                <label class="c-form_label">{{"Username"|t}}</label>
                <span class="focus-border"></span>
            </div>

            <div class="c-form_field">
                <input id="loginPassword" class="c-form_input" type="password" name="password">
                <div class="c-status"></div>
                <label class="c-form_label">{{"Password"|t}}</label>
                <span class="focus-border"></span>
            </div>



                <div class="field -remember-me">
                    <label>
                        <input type="checkbox" name="rememberMe" value="1">
                        <p>{{'Remember me'|t}}</p>
                    </label>
                </div>

                <div class="buttons -left">
                    <input type="submit" value="Login" class="c-btn c-btn--primary"/>
                </div>
            </form>

            <p><a class="c-store_link" href="{{ url('forgotpassword') }}">{{'Forgot your password?'|t}}</a></p>
            {% else %}
            <h3 class="mt-0">{{'Register'|t}}</h3>

            <form  class="c-form c-accont_register" method="post" accept-charset="UTF-8">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="users/save-user">
                {{ redirectInput('store/addresses'|t) }}

                {% macro errorList(errors) %}
                {% if errors %}
                <ul class="errors">
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endmacro %}

                {% from _self import errorList %}



            <div class="c-form_field">
                <input id="username" class="c-form_input" type="text" name="username" {%- if user is defined %} value="{{ user.username }}"{% endif -%}>
                <div class="c-status"></div>
                <label class="c-form_label">{{"Username"|t}}</label>
                <span class="focus-border"></span>
                {% if user is defined %}
                    {{ errorList(user.getErrors('username')) }}
                {% endif %}
            </div>

        <div class="c-form_field -email">
            <input id="email"  class="c-form_input -email has-content"  type="email" name="email" {%- if user is defined %} value="{{ user.email }}"{% endif %} {%- if user is not defined and cart.email %} value="{{ cart.email }}"{% endif %} autocomplete="off">      
            <div class="c-status"></div>
            <label class="c-form_label">{{'Email'|t}}</label>
            <span class="focus-border"></span>
            {% if user is defined %}
                {{ errorList(user.getErrors('email')) }}
            {% endif %}                  
        </div>    

            <div class="c-form_field">
                <input id="savePassword" class="c-form_input" type="password" name="password">
                <div class="c-status"></div>
                <label class="c-form_label">{{"Password"|t}}</label>
                <span class="focus-border"></span>
                {% if user is defined %}
                {{ errorList(user.getErrors('password')) }}
                {% endif %}
            </div>



                <div class="buttons -left">
                    <input type="submit" value="{{'Register'|t}}" class="c-btn c-btn--primary"/>
                </div>
            </form>

                
    <a class="c-shop_link" href="{{siteUrl}}{{'account/connection'|t}}">{{'Already have an account?'|t}}</a>



            {% endif %}
        </div>
        <div class="o-layout__item u-1/2@portrait-large-tablet u-1/1@portrait-small-handset c-colum-right c-padding-top">
            <div>
            <p class="c-btn c-btn--primary -version-three">{{'Checkout'|t}}</p>
            <a class="c-btn c-btn--primary" href="{{ url('store/addresses'|t)}}">{{'Continue as guest'|t}};</a>
            </div>
        </div>
    </div>
{% endblock %}
