<div id="banner" class="c-header_banner {% if entry is defined %}{% if entry.type == "home" %}-home{% else%}-{{entry.type}}{% endif %}{% else %}-page{% endif %}">
	{% if entry is defined %}
	{% if entry.type == "home" %}	
		<div class="c-home_slider">
			{% for block in entry.banners.all() %}
    			{% if block.type == "bannersTab" %}
    				
					<div style="background: url('{{block.bannerImage.one.url()}}')">
						<a href="{{block.bannerLink}}" target="{{block.bannerLink.getTarget()}}">
						<div class="c-diamond-shape_background"></div>
						<div class="c-diamond-shape_text">
    						<h2>{{ block.bannerTitle }}<span>{{block.bannerSubtitle}}</span></h2>
    					</div>
    					</a>
					</div>
					
    			{% endif %}
			{% endfor %}
		</div>
	{% elseif entry.type == "recipeSingle" %}		
		<div class="c-hero_banner" style="background: url('{{global.fallbackImage.one.url()}}');">
			<div class="o-wrapper">
				<div class="c-hero_banner_content">
					<div class="c-hero_banner_content_text">
						<h2 class="-recipe">{{'Discover our secrets'|t}}</h2>
					</div>
				</div>
			</div>
		</div>			
	{% elseif entry.type == "categoriesProduct" %}		
		<div class="c-hero_banner" style="background: url('{{global.fallbackImage.one.url()}}');">
			<div class="o-wrapper">
				<div class="c-hero_banner_content">
					<div class="c-hero_banner_content_text">
						<h2 class="-recipe">{{"Online store"|t}}</h2>
					</div>
				</div>
			</div>
		</div>			
	{% else %}		
		<div class="c-hero_banner" style="background: url('{{entry.headerImage.one.url()}}');">
			<div class="o-wrapper">
				<div class="c-hero_banner_content">
					<div class="c-hero_banner_content_text">
						<h1>{{entry.headerTitle}}</h1>
					</div>
				</div>
			</div>
		</div>	
	{% endif %}
	{% else %}
		<div class="c-hero_banner" style="background: url('{{global.fallbackImage.one.url()}}');">
			<div class="o-wrapper">
				<div class="c-hero_banner_content">
					<div class="c-hero_banner_content_text">
					{% if craft.request.path == "boutique/panier" or craft.request.path == "store/cart" %}
						<h1>{{"Cart"|t}}</h1>
					{% elseif craft.request.path == "compte/inscription-etape-un" or craft.request.path == "account/registration-step-one" %}
											<h1>{{"Inscription"|t}}</h1>
{% elseif craft.request.path == "compte/inscription" or craft.request.path == "account/registration" %}											
    {% if cart is not defined %}
        {% set cart = craft.commerce.carts.cart %}
    {% endif %}
    {% set userExists = craft.users.email(cart.email).one() %}
    {% set userExistsButCantLogin = craft.users.email(cart.email).status(['locked','suspended','pending']).one() %}

{% if userExists %}
<h1>{{"Account"|t}}</h1>
{% else %}
<h1>{{"Inscription"|t}}</h1>
{% endif%}



					{% elseif craft.request.path == "compte/commandes" or craft.request.path == "account/orders" %}
					<h1>{{"Orders"|t}}</h1>
					{% elseif craft.request.path == "compte/gestion" or craft.request.path == "account/management" %}
					<h1>{{"Account"|t}}</h1>
					{% elseif craft.request.path == "compte/adresses" or craft.request.path == "account/addresses" %}		
					<h1>{{"Addresses"|t}}</h1>		
					{% elseif craft.request.path == "boutique/adresses" or craft.request.path == "store/addresses" %}		
					<h1>{{"Confirmation"|t}}</h1>
					{% elseif craft.request.path == "boutique/adresses" or craft.request.path == "store/addresses" %}		
					<h1>{{"Confirmation"|t}}</h1>															
					{% elseif craft.request.path == "compte/cartes" or craft.request.path == "account/cards" %}							
					<h1>{{"Cards"|t}}</h1>	
					{% elseif craft.request.path == "boutique/paiement" or craft.request.path == "/store/payment" %}							
					<h1>{{"Payment"|t}}</h1>								
						{% else %}
							<h2 class="-recipe">{{"Online store"|t}}</h2>
						{% endif %}
					</div>
				</div>
			</div>
		</div>		
	{% endif %}
</div>