{% import "_macros.twig" as macros %}

{% set pages = craft.entries.section('menu').level(1).all() %}



<div class="c-header_primary-menu">
	<div class="o-wrapper">
		<div class="c-header_primary-menu_flex">
			<div class="c-header_logo">
				<a href="{{siteUrl}}">
				<img src="{{ craft.app.sites.primarySite.baseUrl }}assets/images/logos/brix-66_header_logo.svg" alt="Brix 66">
				</a>
			</div>
			<nav class="c-header_primary-menu_nav">
				<ul class="c-header_primary-menu_ul">
        {% for page in pages %}
            <li {{ macros.isActive(page.slug) }}><a href="{{page.page.one.url()}}">{{ page.title }}</a></li>
        {% endfor %}
        <li><a href="{{ siteUrl }}{{'store'|t}}">{{'store'|t}}</a></li>
				</ul>
			</nav>


		</div>
	</div>
</div>		

			<button class="hamburger hamburger--slider" type="button" aria-label="Menu" aria-controls="navigation">
				<span class="hamburger-label">Menu</span>
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
