<div class="c-header_secondary-menu">
	<div class="o-wrapper">
		<ul class="o-list-bare">
			
			<li class="c-cart">
				{% set cart = craft.commerce.cart.totalQty %}
				<a class="c-total no-barba" href="{{siteUrl}}{{'shop/cart'|t}}">{{cart}}</a> 
			</li>
			<li class="c-user">
				<a>Connection</a>
				<ul>
					{% if not currentUser %}
    					<li><a href="{{siteUrl}}{{'account/connection'|t}}">{{'Log in'|t}}</a></li>
    					<li><a href="{{siteUrl}}{{'account/registration-step-one'|t}}">{{"Create an account"|t}}</a></li>
    				{% else%}
    					<li><a href="{{siteUrl}}{{'account/management'|t}}">{{"My account"|t}}</a></li>
    					<li><a href="{{siteUrl}}{{'account/addresses'|t}}">{{"My adresses"|t}}</a></li>
    					<li><a href="{{siteUrl}}{{'account/cards'|t}}">{{"My cards"|t}}</a></li>    				
    					<li><a href="{{siteUrl}}{{'account/orders'|t}}">{{"My orders"|t}}</a></li>    				
       					<li><a href="{{ logoutUrl }}">{{"Sign out"|t}}</a></li>
					{% endif %}					
				</ul>
			</li>
			<li class="c-language-switcher">
				{% if entry is defined %}
					{% for siteForEntry in entry.getSupportedSites %}
					    {% set site = craft.app.getSites.getSiteById(siteForEntry.siteId) %}
					    {% if site.id != entry.siteId %}
					        {% set entryForOtherSite = craft.entries.id(entry.id).site(site).one() %}
		        			<a href="{{ entryForOtherSite.getUrl() }}">{{ site.language }}</a>
		    			{% endif %}
					{% endfor %}
				{% elseif product is defined %}
					{% set currentElement = craft.app.urlManager.matchedElement %}
					{% set sites = craft.app.getSites().getGroupById(currentSite.groupId).getSites() %}
					{% set switcherLinks = [] %}
					{% for site in sites if site.baseUrl is not empty %}
						{% set title = craft.app.i18n.getLocaleById(site.language).name %}
						{% set url = site.getBaseUrl() %}
						{% if currentElement %}
							{% set otherLocaleElement = craft.app.getElements().getElementById(currentElement.id, currentElement.className(), site.id) %}
							{% if otherLocaleElement and otherLocaleElement.enabledForSite %}
								{% set url = otherLocaleElement.url %}
							{% endif %}
						{% endif %}
						{% set switcherLinks = switcherLinks|merge([{
							url: url, 
							title: title, 
							countryCode: site.language|split('-')|last,
							current: site.id == currentSite.id ? true : false,
							language: site.language,
						}]) %}
					{% endfor %}
					{# outputting html #}
					{% if switcherLinks|length > 1 %}
						{% for switcherLink in switcherLinks %}
							{% if(craft.locale != switcherLink.language) %}
								<a href="{{switcherLink.url}}" hreflang="{{switcherLink.language}}" lang="{{switcherLink.language}}">{{ switcherLink.language }}</a>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% else %}
					{% if craft.request.path == "account/addresses" %}								
						<a href="{{ craft.app.sites.primarySite.baseUrl }}compte/adresses">
					{% elseif craft.request.path == "compte/adresses" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}en/account/addresses">
					{% elseif craft.request.path == "account/connection" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}compte/connexion">
					{% elseif craft.request.path == "compte/connexion" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}en/account/connection">
					{% elseif craft.request.path == "compte/compte/inscription-etape-un" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}en/account/account/registration-step-one">
					{% elseif craft.request.path == "account/account/registration-step-one" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}compte/compte/inscription-etape-un">
					{% elseif craft.request.path == "compte/cartes" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}en/account/cards">
					{% elseif craft.request.path == "account/cards" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}compte/cartes">
					{% elseif craft.request.path == "compte/commandes" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}en/account/orders">
					{% elseif craft.request.path == "account/orders" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}compte/commandes">	
					{% elseif craft.request.path == "boutique" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}en/store">
					{% elseif craft.request.path == "store" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}boutique">	
					{% elseif craft.request.path == "boutique/panier" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}en/store/cart">
					{% elseif craft.request.path == "store/cart" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}boutique/panier">	
					{% elseif craft.request.path == "compte/inscription" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}en/account/registration">
					{% elseif craft.request.path == "account/registration" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}compte/inscription">		
					{% elseif craft.request.path == "boutique/paiement" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}en/store/payment">
					{% elseif craft.request.path == "store/payment" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}boutique/paiement">	
					{% elseif craft.request.path == "boutique/adresses" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}en/store/addresses">
					{% elseif craft.request.path == "store/addresses" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}boutique/adresses">
					{% elseif craft.request.path == "compte/gestion" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}en/account/management">
					{% elseif craft.request.path == "account/management" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}compte/gestion">	
							
					{% elseif craft.request.path == "compte/cartes" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}en/account/cards">
					{% elseif craft.request.path == "account/cards" %}
						<a href="{{ craft.app.sites.primarySite.baseUrl }}compte/cartes">								




					{% else %}
						{% if craft.locale == "en" %}
					    	<a href="{{ craft.app.sites.primarySite.baseUrl }}">	
						{% elseif craft.locale == "fr" %}
					    	<a href="{{ craft.app.sites.primarySite.baseUrl }}en">	
						{% endif %}
						{% endif %}
						{% if craft.locale == "en" %}
						    Fr
						{% elseif craft.locale == "fr" %}
						    En
					{% endif %}
					</a></span>
				{% endif %}
			</li>			
			<li class="c-facebook"><a href="{{global.infoFacebook}}" rel="external nofollow" target="_blank">Facebook</a></li>
			<li class="c-menus">
				<a class="c-btn c-btn--primary -version-five">Menus</a>
				<ul class="c-submenu">
					<li> <a href="{{global.menuBrunch.one.url()}}" target="_blank">{{"Brunch menu"|t}}</a></li>
					{% if global.menuSupper|length %} <li><a href="{{global.menuSupper.one.url()}}" target="_blank">{{'Dinner menu'|t}}</a></li>{% endif %}
				</ul>
			</li>
		</ul>
	</div>
</div>