{% extends 'shop/_layouts/main' %}

{% block main %}

    {% set addressId = craft.app.request.param('addressId') %}
    {% set redirect = craft.app.request.param('redirect') %}

    {% if not address is defined and addressId %}
        {% set address = craft.commerce.customers.customer.getAddressById(addressId) %}
    {% endif %}

    <h2 class="-products -white">
        {% if addressId %}
            {{'Edit Address'|t}}
        {% else %}
            {{'Add a new address'|t}}
        {% endif %}
    </h2>

    <form method="post" class="c-form">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="commerce/customer-addresses/save">
        {% if redirect %}
            {{ redirectInput(redirect) }}
        {% else %}
            {{ redirectInput('shop/addresses'|t) }}
        {% endif %}

        {% if addressId %}
            <input type="hidden" name="address[id]" value="{{ addressId }}">
        {% endif %}

        {% include 'shop/_includes/addresses/form' %}
        {% set isPrimaryBilling = cart.customer.primaryBillingAddressId == addressId %}
        {% set isPrimaryShipping = cart.customer.primaryShippingAddressId == addressId %}

        <hr />

        <div class="field">
            <label for="makePrimaryShippingAddress"><input id="makePrimaryShippingAddress" name="makePrimaryShippingAddress" type="checkbox" {{ isPrimaryShipping ? 'checked' :'' }}/><p class="label-body">{{'Make this the primary shipping address'|t}}</p></label>
        </div>

        <div class="field">
            <label for="makePrimaryBillingAddress"><input id="makePrimaryBillingAddress" name="makePrimaryBillingAddress" type="checkbox" {{ isPrimaryBilling ? 'checked' :'' }}/><p class="label-body">{{'Make this the primary billing address'|t}}</p></label>
        </div>

        <div class="mt-6">
            <input type="submit" value="{{'Save Address'|t}}" class="c-btn c-btn--primary">
        </div>
    </form>

    <div class="mt-6">
        {% if redirect %}
            <a href="/{{ redirect }}">{{'Cancel'|t}}</a>
        {% else %}
            <a href="{{ url('account/addresses'|t) }}">{{'Cancel'|t}}</a>
        {% endif %}
    </div>

{% endblock %}
