{% extends 'shop/_layouts/main' %}

{% block main %}
    {% set customer = craft.commerce.customers.customer %}
    {% set primaryBillingAddress = customer.getPrimaryBillingAddress() %}
    {% set primaryShippingAddress = customer.getPrimaryShippingAddress() %}

    {% if customer.addresses|length %}
        <div class="flex justify-between items-center">
            <a class="c-btn c-btn--primary" href="{{ url('store/customer/addresses/edit') }}">{{'Add New Address'|t}}</a>
        </div>

        <div class="grid-addresses c-addresses_index o-layout mt-6">
            {% for address in customer.addresses %}
                <div class="address-card o-layout__item u-1/4@landscape-large-tablet u-1/3@landscape-small-tablet u-1/2@portrait-medium-tablet">
                    {% include 'shop/_includes/addresses/address' with {'address': address} %}
                    <div class="c-address_options">
                    <div>
                        <strong>{% if primaryBillingAddress and primaryBillingAddress.id == address.id %}<i class="fa fa-check text-green"></i> {{'Primary Billing'|t}}{% endif %}</strong>
                    </div>
                    <div>
                        <strong>{% if primaryShippingAddress and primaryShippingAddress.id == address.id %}<i class="fa fa-check text-green"></i> {{'Primary Shipping'|t}}{% endif %}</strong>
                    </div>
                    </div>
                    <div class="buttons mt-4 c-address_btns">
                        <a class="edit c-btn c-btn--primary -version-four -mg-btm" href="{{ url('account/addresses/edit'|t) }}?addressId={{ address.id }}">{{'Edit'|t}}</a>
                        <form method="POST">
                            <input type="hidden" name="action" value="commerce/customer-addresses/delete">
                            {{ csrfInput() }}
                            <input type="hidden" name="id" value="{{ address.id }}"/>
                            <input class="c-btn c-btn--primary -version-four" type="submit" value="{{'Delete'|t}}"/>
                        </form>
                    </div>


                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="c-empty">
            <i class="fas fa-address-book"></i>
            <div>
                {{'You don’t have any addresses yet.'|t}}
             </div>    
             </div>
                <div class="mt-6">
                    <a class="c-btn c-btn--primary" href="{{ url('store/customer/addresses/edit') }}">{{'Add a new address'|t}}</a>
                </div>
           
        
    {% endif %}
{% endblock %}
