{# DECLARATION 		#}

	{% set logo 				= "" %}
	{% set address 				= "" %}
	{% set email 				= "" %}
	{% set phone 				= "" %}
	{% set facebook 			= "" %}
	{% set businessHour 		= "" %}
	{% set businessHourLunch 	= "" %}
	{% set businessHourSupper 	= "" %}
	{% set booking 				= "" %}
	{% set days 				= "" %}
	{% set hours 				= "" %}
	{% set shopOnline 			= "" %}

{# INITIALIZATION 	#}

	{% set logo 				= craft.app.sites.primarySite.baseUrl ~ "assets/images/logos/brix-66_header_logo.svg" %}
	{% set address 				= global.infoAddress %}
	{% set email 				= global.infoEmail %}
	{% set phone 				= global.infoPhone %}
	{% set facebook 			= global.infoFacebook %}
	{% set businessHour 		= global.infoBusinessHour %}
	{% set businessHourLunch 	= global.infoLunch %}
	{% set businessHourSupper 	= global.infoSupper %}
	{% set booking 				= global.infoBooking.text %}
	{% set bookingLink 			= global.infoBooking.url %}
	{% set days 				= global.boutiqueJoursOuverts %}
	{% set hours 				= global.boutiqueHeuresDouverture %}
	{% set shopOnline 			= global.infoShopOnline.text %}

{# CODE #}

	<footer class="c-footer">                
		<div class="o-wrapper">
			<div class="o-grid">

				<div class="o-grid__item -logo">
					<img src="{{logo}}" alt="Brix 66">
				</div>

				<div class="o-grid__item -nav">
					<p class="c-footer_title">{{'Contact us'|t}}</p>
					<ul class="o-layout c-footer_ul">
					<li class="o-layout__item u-1/1@landscape-medium-tablet u-1/2@portrait-medium-tablet"><p>{{address|nl2br}}</p></li>
					<li class="o-layout__item u-1/1@landscape-medium-tablet u-1/2@portrait-medium-tablet"><p><a href="mailto:{{email}}">{{email}}</a></p></li>
					<li class="o-layout__item u-1/1@landscape-medium-tablet u-1/2@portrait-medium-tablet"><p>{{phone}}</p></li>
					<li class="o-layout__item u-1/1@landscape-medium-tablet u-1/2@portrait-medium-tablet"><a class="c-footer_fb" href="{{facebook}}" rel="external nofollow" target="_blank">Facebook</a></li>
					</ul>
				</div>

				<div class="o-grid__item -business-hour">
					<p class="c-footer_title">{{'Business hours'|t}}</p>
					<p class="c-footer_p">{{businessHour}}</p>
				</div>

				<div class="o-grid__item -shack">
					<p class="c-footer_title">{{'The sugar shack'|t}}</p>	
					<p>{{'Lunch: '|t}}{{businessHourLunch}}
						<br>{{'Dinner: '|t}}{{businessHourSupper}}</p>
						<a href="{{bookingLink}}" target="_blank" el="external nofollow">{{booking}}</a>
				</div>	

				<div class="o-grid__item -shop">
					<p class="c-footer_title">{{'The store'|t}}</p>	
					<p>{{days}}
						<br>{{hours}}
					</p>
					<a href="{{global.infoShopOnline.getUrl()}}">{{shopOnline}}</a>
				</div>												

			</div>	{# o-grid #}

			<p class="c-footer_copyright">&#9400;{{now|date(' Y ')}}{{'All rights reserved'|t}} | {{ craft.app.sites.primarySite.name }} - {{""|t}}<a href="https://agencezel.com/" target="_blank" rel="external nofollow">{{"Zel"|t}}</a>{{"'s signature"|t}}</p> 

		</div> {# o-wrapper #}
	</footer> 