    <!doctype html>
    <html lang="{{craft.app.language}}">
        <head>
            {% hook 'seo' %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{{ craft.app.sites.primarySite.baseUrl }}assets/css/app.css">
    <script type="application/javascript">{% include 'shop/jquery.js' %}</script>
    {# <style>{% include 'shop/tailwind.css' %}</style> #}
    <style>{% include 'shop/style.css' %}</style>
<style>{% include 'shop/tailwind.css' %}</style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {% if extraHead is defined %}
        {{ extraHead }}
    {% endif %}            
        </head> 
        <body id="barba-wrapper" class="lang-{{craft.app.language}}">
            <div  class="barba-container lang-{{craft.app.language}}" data-namespace="page">
            <header class="c-header">
{% include "_components/header/secondary-nav.html"%}
{% include "_components/header/primary-nav.html"%}
{% include "_components/header/mobile-nav.html"%}
{% include "_components/header/banner.html"%}




            </header>                         
            <main class="c-main">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% if cart is not defined %}
        {% set cart = craft.commerce.carts.cart %}
    {% endif %}

<div class="o-wrapper">
    {% if showNav is not defined %}
        {% set showNav = true %}
    {% endif %}

{% set flashNotice = craft.session.getFlash('notice') %}
{% if flashNotice %}
    <div data-alert class="alert-box info radius">
      {{ flashNotice }}
    </div>
{% endif %}

{% set flashError = craft.session.getFlash('error') %}
{% if flashError %}
    <div data-alert class="alert-box alert radius">
      {{ flashError }}
{% for attribute, errors in cart.errors %}
                    {% if loop.first %}<ul>{% endif %}
                    {% for key, error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {% if loop.last %}</ul>{% endif %}
                {% endfor %}
      
    </div>
{% endif %}
</div>
    {% block body %}
        <div class="o-section c-products">
            <div id="main" class="container mx-auto">
                <div class="o-wrapper">
                {% block main %}
                    <h1>Default Content</h1>
                    <p>You should not see this.</p>
                {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
            </main>
            {% include "_components/footer/footer.html"%}
            <script defer src="{{ craft.app.sites.primarySite.baseUrl }}/assets/script/app.js"></script>
                        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700|Oswald&display=swap" rel="stylesheet">
        </div>
       </body>
    </html>                 