<div>
	<h2>{{"Write to us"|t}}</h2>
{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

<form id="c-form" method="post" action="" accept-charset="UTF-8" class="c-form">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="contact-form/send">

        <div class="c-form_field">
        	<input id="from-name" class="c-form_input" type="text" name="fromName" >
        	<div class="c-status"></div>
            <label class="c-form_label">{{"Full name"|t}}</label>
            <span class="focus-border"></span>
        </div>

        <div class="c-form_field">
        	<input id="from-email"  class="c-form_input"  type="email" name="fromEmail" >
        	<div class="c-status"></div>
            <label class="c-form_label">{{'Email'|t}}</label>
            <span class="focus-border"></span>
        </div>    

        <div class="c-form_field">
        	    <input id="phone" class="c-form_input" type="text" name="Phone">
        	    <div class="c-status"></div>
            <label class="c-form_label">{{'Phone'|t}}</label>
            <span class="focus-border"></span>
        </div>             

        <div class="c-form_field">
        	    <textarea class="c-form_input -textarea" rows="8" cols="40" id="message" name="message"></textarea>
        	    <div class="c-status"></div>
            <label class="c-form_label">Message</label>
            <span class="focus-border"></span>
        </div>             

<p class="c-confirmation_message">{{'Thank you for contacting us. We will get back to you as soon as possible.'|t}}</p>

    <input class="c-btn c-btn--primary" type="submit" value="{{'Send'|t}}">
</form>	
</div>

