{% extends "shop/_layouts/main" %}

{% block main %}
    {% if cart.lineItems|length %}
        <table class="cart w-full">
            <thead>
            <tr>
                
                <th colspan="2">{{'Product'|t}}</th>
                <th>{{'Price'|t}}</th>
                <th>{{"Quantity"|t}}</th>
                <th class="text-right">{{'Sous-total'|t}}</th>
            </tr>
            </thead>
            <form method="POST" id="c-form_cart" class="add-to-cart-form">
                <input type="hidden" name="action"
                       value="commerce/cart/update-cart">
                {{ redirectInput('store/cart'|t) }}
                {{ csrfInput() }}
            <tbody>
                {% set lineItemHasErrors = false %}
                {% for item in cart.lineItems %}
                    {% if item.hasErrors() %}
                        {# if the line item has errors lets record it so we can hide totals later (since they wont make sense) #}
                        {% set lineItemHasErrors = true %}
                    {% endif %}
                    <tr class="item c-cart_products" {% if item.hasErrors() %}style="background-color:rgba(255, 0, 0, .1);"{% endif %}>



                        <td class="c-img">


    <img src="{{ item.purchasable.product.productsImage.one.url('cart') }}">

</td>
<td data-column="{{'Product'|t}}">
   <span class="td">
                            <p class="c-cart_product-title">{{ item.purchasable.product.title }}</p>
                            
                            <p class="c-cart_product-variant">
{% if item.purchasable.product.type == "syrup" %}
    {% if item.purchasable.couleur.value != 99 %} {{item.purchasable.couleur.label|t}}{% endif %}
    {% if item.purchasable.productFormat.value != 99 %} {{item.purchasable.productFormat.label|t}}{% endif %}
    {% if item.purchasable.productQuality.value != 99 %} {{item.purchasable.productQuality.label|t}}{% endif %}
 {% elseif item.purchasable.product.type == "mapleProducts" %}
    {% if item.purchasable.productFormat.value != 99 %} {{item.purchasable.productFormat.label|t}}{% endif %}
{% elseif item.purchasable.product.type == "nuts" %}
    {% if item.purchasable.formatNoix.value != 99 %} {{item.purchasable.formatNoix.label|t}}{% endif %}
{% elseif item.purchasable.product.type == "giftWrapping" %}
    {% if item.purchasable.productQuality.value != 99 %} {{item.purchasable.productQuality.label|t}}{% endif %}
{% elseif item.purchasable.product.type == "giftBasket" %}
    {% if item.purchasable.bouteille.value != 99 %} {{item.purchasable.bouteille.label|t}}{% endif %}
    {% if item.purchasable.produit.value != 99 %} {{item.purchasable.produit.label|t}}{% endif %}
    {% if item.purchasable.productQuality.value != 99 %} {{item.purchasable.productQuality.label|t}}{% endif %}
{% endif %}                                 
                            </p>
                            
{#                             ({{ item.sku }}) #}
{#                             <br> #}
                            {# <code>{{ item.options|json_encode }}</code> #}
{#                             <br> #}
</span>
</td>

<td class="c-price" data-column="{{'Price'|t}}">
    <span class="td">
    {{ item.price|commerceCurrency(cart.currency) }}
</span>
</td>

                      
{#                             {% if item.options.giftWrapped is defined %}
                            <select name="lineItems[{{ item.id }}][options][giftWrapped]">
                                <option value="no"
                                        {% if item.options.giftWrapped == 'no' %}selected{% endif %}>
                                    No gift wrap
                                </option>
                                <option value="yes"
                                        {% if item.options.giftWrapped == 'yes' %}selected{% endif %}>
                                    Gift wrapped.
                                </option>
                            </select>
                            {% endif %} #}

{#                             {% if item.options.donationAmount is defined %}
                            <input type="text" name="lineItems[{{ item.id }}][options][donationAmount]" placeholder="Donation" value="{{item.options.donationAmount}}">
                            {% endif %}

                            <input type="text" placeholder="My Note"
                                   size="20"
                                   name="lineItems[{{ item.id }}][note]"
                                   value="{{ item.note }}"> #}
<td class="c-quantity" data-column="{{'Quantity'|t}}">
                            <span class="td" {% if item.getFirstError('qty') %}class="has-error"{% endif %}>
                                <div class="number">
                                        <span class="minus">-</span>
                            <input class="c-qty " type="{% if item.options.donationAmount is defined %}hidden{%else%}number{%endif%}" name="lineItems[{{ item.id }}][qty]" min="0" value="{{ item.qty }}">
    <span class="plus">+</span>
</div>




    
                            <label class="c-rmv">
                            <input type="checkbox"
                                   name="lineItems[{{ item.id }}][remove]"https://api.jquery.com/jquery.ajax/
                                   value="1"> 
                                   <p>{{'Remove'|t}}</p>
                            </label>
                            
                        </td>
                        </td>

                        <td class="c-subtotal text-right" data-column="{{'Subtotal'|t}}">
                            <span class="td">
                            {% if not lineItemHasErrors %}
                                {% if item.onSale %}
                                    <s>{{'Price: '|t}}{{ item.price|commerceCurrency(cart.currency) }}</s>
                                    <br>
                                    Sale Off: {{ item.saleAmount|commerceCurrency(cart.currency) }}
                                    <br>
                                    Sale Price {{ item.salePrice|commerceCurrency(cart.currency) }}
                                    <br>
                                    Sale Price Subtotal: {{ item.subtotal|commerceCurrency(cart.currency) }}
                                    <br>
                                {% else %}
                                
                                    {{ item.subtotal|commerceCurrency(cart.currency) }}
                                    <br>
                                {% endif %}
                            {% endif %}

                            {% for sale in item.purchasable.sales %}
                                {% if loop.first %}
                                    Sales Applied:
                                {% endif %}
                                {{ sale.name }}<br>
                            {% endfor %}
                            </span>
                        </td>
                    </tr>
                    {% if not lineItemHasErrors %}
                        
                    {% endif %}

                {% endfor %}

                
 <tr class="c-update">
                    <td colspan="4">  {# Update Coupon form uses the single update controller action: #}
                        {% if cart.getFirstError('couponCode') %}
                            <span class="flash">{{ cart.getFirstError('couponCode') }}</span>
                        {% endif %}

                        <span class="{% if cart.getFirstError('couponCode') %}has-error{% endif %}">
                    <input type="text" name="couponCode" width="11"
                           class="{% if cart.getFirstError('couponCode') %}has-error{% endif %}c-coupon-code"
                           value="{{ cart.couponCode }}"
                           placeholder="{{ "Coupon Code"|t }}">
                    </span></td>
                    <td class="text-right">
                        <input class="c-btn c-btn--primary" type="submit" value="{{'Update Cart'|t}}"/>
                    </td>
                </tr>
                <tr class="c-checkout">
                    <td colspan="5" class="text-right">
                        {% if not lineItemHasErrors %}
                            <a class="c-btn c-btn--primary -version-two" href="{{ url('account/registration'|t) }}">{{'Checkout'|t}}</a>
                        {% endif %}
                    </td>
                </tr>

                <tr class="c-total">
                    <td colspan="5" class="text-right">
                        {% if not lineItemHasErrors %}
                            <p class="c-total_detail-subtotal">{{'Item Sub Total: '|t}}{{ cart.itemSubTotal|commerceCurrency(cart.currency) }}</p>

                            {% if cart.adjustmentsTotalByType('discount') != 0%}Total Discount: {{ cart.adjustmentsTotalByType('discount')|commerceCurrency(cart.currency)}}<br>{% endif %}
                            <div class="c-total_detail-fees">
{% if not lineItemHasErrors %}
                    {% for adjustment in cart.orderAdjustments %}
                                {{ adjustment.name|t }} {% if  adjustment.description|length %}({{ adjustment.description }}){% endif %} {{ adjustment.amount|commerceCurrency(cart.currency)}}<br>
                    {% endfor %}

                    </div>
                {% endif %}
                            <h4 class="c-total_detail-total">{{'Total Price: '|t}}{{ cart.totalPrice|commerceCurrency(cart.currency) }}</h4>
                        {% endif %}
                    </td>
                </tr>
               
            </tbody>
            </form>
        </table>
    {% endif %}

    {% if not cart.lineItems|length %}
        <p>You have no items in your cart, add some on the 

{% if craft.locale == "fr" %}
            <a href="{{ url('boutique/') }}">
{% endif %}

            products page</a>.</p>
    {% endif %}
{% endblock %}
