.border.two:before {
  -webkit-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left; }

.border.two:before {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.45s cubic-bezier(0.4, 0, 0.2, 1); }

.is-inview .border.two:before {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.is-inview .border.two:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.is-inview .border.two div:after {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s; }

.is-inview .border.two div:after {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1); }

.border.two div:after {
  right: 0;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
  left: 100%; }

.border.two div:after {
  width: 1px;
  top: 0;
  bottom: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  transition: -webkit-transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.15s cubic-bezier(0.4, 0, 0.2, 1); }

.is-inview .border.two:after {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s; }

.is-inview .border.two:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.border.two:after {
  bottom: 0;
  -webkit-transform-origin: center right;
  -ms-transform-origin: center right;
  transform-origin: center right; }

.border.two:after {
  height: 1px;
  right: 0;
  left: 0;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.45s cubic-bezier(0.4, 0, 0.2, 1); }

.is-inview .border.two div:before {
  -webkit-transition-delay: 1.35s;
          transition-delay: 1.35s; }

.is-inview .border.two div:before {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1); }

.border.two div:before {
  left: 0;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom; }

.border.two div:before {
  width: 1px;
  top: 0;
  bottom: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  transition: -webkit-transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.15s cubic-bezier(0.4, 0, 0.2, 1); }
