	<!doctype html>
	<html lang="{{craft.app.language}}">
		<head>
            {% hook 'seo' %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{{ craft.app.sites.primarySite.baseUrl }}assets/css/app.css">
            
		</head>	
		<body id="barba-wrapper" class="lang-{{craft.app.language}}">
            <div  class="barba-container lang-{{craft.app.language}}" data-namespace="page">

    {% if cart is not defined %}
        {% set cart = craft.commerce.carts.cart %}
    {% endif %}


    {% if showNav is not defined %}
        {% set showNav = true %}
    {% endif %}

    {% if cart.errors|length %}
        <div class="bg-red text-white">
            <div class="container mx-auto px-6 py-4">
                {% for attribute, errors in cart.errors %}
                    {% if loop.first %}<ul>{% endif %}
                    {% for key, error in errors %}
                        <li>{{ attribute }}: {{ error }}</li>
                    {% endfor %}
                    {% if loop.last %}</ul>{% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
                
			<header class="c-header">
                {% include "_components/header/secondary-nav.html"%}
                {% include "_components/header/primary-nav.html"%}
                {% include "_components/header/mobile-nav.html"%}
                {% include "_components/header/banner.html"%}
			</header>                         
    		<main class="c-main">
                <div class="c-main_mask"></div>
    			{% block content %}
    			{% endblock %}	
    		</main>
            {% include "_components/footer/footer.html"%}
            <script defer src="{{ craft.app.sites.primarySite.baseUrl }}/assets/script/app.js"></script>
            <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans|Oswald&display=swap" rel="stylesheet">
            </div>
	   </body>
    </html>					