{% extends 'shop/_layouts/main' %}
{% block main %}


{% requireLogin %}

<form id="profile" class="c-form c-profil" method="post" accept-charset="UTF-8" enctype="multipart/form-data">

  {% set notice = craft.app.session.getFlash('notice') %}
  {% if notice %}
    <p>{{ notice }}</p>
  {% endif %}

  {% set formUser = user is defined ? user : currentUser  %}

  {{ csrfInput() }}

  {# {{ redirectInput('users/'~currentUser.username) }} #}

  {{ actionInput('users/save-user') }}

  {{ hiddenInput('userId', formUser.id) }}

        <div class="c-form_field">
          <input id="first-Name" class="c-form_input" type="text" name="firstName" value="{{ formUser.firstName }}">
          <div class="c-status"></div>
            <label class="c-form_label">{{"First Name"|t}}</label>
            <span class="focus-border"></span>
        </div>  

        <div class="c-form_field">
          <input id="last-Name" class="c-form_input" type="text" name="lastName" value="{{ formUser.lastName }}">
          <div class="c-status"></div>
            <label class="c-form_label">{{"Last Name"|t}}</label>
            <span class="focus-border"></span>
        </div>          

  {% if not craft.app.config.general.useEmailAsUsername %}
    {% set error = formUser.getFirstError('username')  %}
    {% set class = error ? 'has-error' : '' %}
    <div class="group {{  class }}">
        <div class="c-form_field">
          <input id="username" class="c-form_input" type="text" name="username" value="{{ formUser.username }}">
          <div class="c-status"></div>
            <label class="c-form_label">{{"Username"|t}}</label>
            <span class="focus-border"></span>
        </div>   
    </div>

    


  {% endif %}

  {% set error = formUser.getFirstError('email')  %}
  {% set class = error ? 'has-error' : '' %}
  <div class="group {{  class }}">

        <div class="c-form_field">
          <input id="email" class="c-form_input" type="text" name="email" value="{{ formUser.email }}">
          <div class="c-status"></div>
            <label class="c-form_label">{{"Email"|t}} &#9888;</label>
            <span class="focus-border"></span>
        </div>  


  </div>

  {% set error = formUser.getFirstError('newPassword')  %}
  {% set class = error ? 'has-error' : '' %}
  <div class="group {{ class }}">

        <div class="c-form_field">
          <input id="new-password" class="c-form_input" type="password" name="newPassword" value="{{ formUser.newPassword }}">
          <div class="c-status"></div>
            <label class="c-form_label">{{"New Password"|t}} &#9888;</label>
            <span class="focus-border"></span>
        </div>  


  </div>

  {% set error = formUser.getFirstError('currentPassword')  %}
  {% set class = error ? 'has-error' : '' %}
  <div class="group {{ class }} -password">
        <div class="c-form_field">
          <input id="current-password" class="c-form_input" type="password" name="password" value="{{ formUser.newPassword }}">
          <div class="c-status"></div>
            <label class="c-form_label">{{"Current Password"|t}} &#9888;</label>
            
            <span class="focus-border"></span>
             
        </div>  
        <p class="error-message">{{ error }}</p>

  </div>




  <div class="group -submit">
    <input class="c-btn c-btn--primary" type="submit" value="{{'Save profile'|t}}">
  </div>
</form>
{% endblock %}