{% extends 'shop/_layouts/main' %}

{% if not currentUser %}
    {% exit 404 %}
{% endif %}


{% block main %}
    <div class="u-1/2@landscape-small-tablet u-3/4@portrait-small-tablet">
    {% set paymentSources = craft.commerce.paymentSources.getAllPaymentSourcesByUserId(currentUser.id) %}
    {% if paymentSources|length %}
    <div class="c-payment-sources">
        <h2 class="-products -white">{{'Manage Cards'|t}}</h2>
        {% for paymentSource in paymentSources %}
            <div class="card flex justify-between">
                <div>
                    <strong>{{ paymentSource.description }}</strong>
                    <div class="text-grey-dark">{{ paymentSource.gateway.name|t }}</div>
                </div>

                <div>
                    <form method="POST">
                        {{ csrfInput() }}
                        {{ redirectInput('account/cards'|t) }}
                        <input type="hidden" name="action" value="commerce/payment-sources/delete">
                        <input type="hidden" name="id" value="{{ paymentSource.id }}"/>
                        <input type="submit" value="{{'Delete'|t}}"/>
                    </form>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <h2 class="-products -white">{{'Add Card'|t}}</h2>
    <div class="card column">
        <div class="one-half column">
            <div class="field">
                <div class="field select-dropdown">
                <select id="gatewayId">
                    <option value="">{{'Please choose your payment type'|t}}</option>

                    {% set gateways = craft.commerce.gateways.allCustomerEnabledGateways %}
                    {% set supportedGateways = {} %}

                    {% for gateway in gateways %}
                        {% if gateway.supportsPaymentSources() %}
                            <option value="{{ gateway.id }}">{{ gateway.name|t }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            </div>
        </div>
        <div class="one-half column">
            {% for gateway in gateways %}
                {% if gateway.supportsPaymentSources() %}
                    <div id="fields-{{ gateway.id }}" class="gateway-fields hidden">
                        <form method="POST" class="c-form -cards" id="gateway-{{ gateway.id }}">
                            <input type="hidden" name="action" value="commerce/payment-sources/add"/>
                            <input type="hidden" name="gatewayId" value="{{ gateway.id }}"/>
                            <input type="hidden" name="cancelUrl" value="{{ '/account/cards'|hash|t }}"/>
                            {{ redirectInput('account/cards'|t) }}
                            {{ csrfInput() }}

                            {{ gateway.getPaymentFormHtml({})|raw }}

                            <div class="field" data-colspan="1">
                                <input class="text description w-full" type="text" name="description" value="" maxlength="70" autocomplete="off" placeholder="{{'Card description'|t}}">
                            </div>

                            <div class="buttons">
                                <button class="c-btn c-btn--primary" type="submit">Add card</button>
                            </div>
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% js %}
        $('#gatewayId').change(function(ev){
            $('.gateway-fields').addClass('hidden');
            $('#fields-'+ev.currentTarget.value).removeClass('hidden');
        });
    {% endjs %}

    {% js %}
        $('.paymentSource-form').on('submit', function (ev) {
            $form = $(this);

            if ($form.data('processing')) {
                ev.preventDefault();

                return false;
            }

            $form.data('processing', true);
        });
    {% endjs %}
</div>
{% endblock %}
