{% extends 'shop/_layouts/main' %}

{% set extraHead %}
{# We don't want the order info indexed by search engines. #}
<meta name="robots" content="noindex">
{% endset %}

{% block main %}
    {% if currentUser %}
        {% set orders = craft.orders.customer(craft.commerce.customers.customer).isCompleted(true).all() %}

        {% if orders|length %}
            <table class="w-full mb-8">
                <thead>
                <tr>
                    <th>{{ "Order"|t }}</th>
                    <th>{{ "Date"|t }}</th>
                    <th>{{ "Total Quantity"|t }}</th>
                    <th>{{ "Total"|t }}</th>
                </tr>
                </thead>
                <tbody>
                {# Get completed orders for the current customer.#}
                {% for order in craft.orders.customer(craft.commerce.customers.customer).isCompleted(true).all() %}
                    <tr class="c-order_tr">
                        <td data-column="{{'Order'|t}}"><a href="{{ url('account/order'|t, { number: order.number }) }}">{{'Order'|t}} {{ order.reference }}</a></td>
                        <td data-column="{{'Date'|t}}">{{ order.dateOrdered|date }}</td>
                        <td data-column="{{'Total Quantity'|t}}">{{ order.totalQty }} {{'items'|t}}</td>
                        <td data-column="{{'Total'|t}}">{{ order.totalPrice|commerceCurrency(cart.currency) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="c-empty">
                <i class="fas fa-box-open"></i>
                <div><p>{{'You don’t have any orders yet.'|t}}</p></div>
            </div>
                 <div>
                    <a class="c-btn c-btn--primary" href="{{ url('store'|t) }}">{{'Continue shopping'|t}}</a>
                 </div>
        {% endif %}
    {% endif %}
{% endblock %}
