{% extends 'shop/_layouts/main' %}

{% set extraHead %}
{# We don't want the order info indexed by search engines. #}
<meta name="robots" content="noindex">
{% endset %}

{% set number = craft.app.request.param('number') %}

{% set order = craft.orders.number(number).one() %}

{% if not order or order.isCompleted == false %}
    {% redirect 'account/orders'|t %}
{% endif %}

{% block main %}
    <h2 class="-products -white">{{"Order"|t}} {{ order.reference }}</h2>


    <div class="o-layout c-order_info">
        <div class="o-layout__item u-1/3@landscape-medium-tablet u-1/2@portrait-medium-tablet">
            <h3>{{'Details'|t}}</h3>

            <ul class="list-reset c-receipt-resume">
                <li><strong>{{ "Customer"|t }}:</strong> {{ order.customer.email }}<br></li>
                <li><strong>{{ "Total"|t }}:</strong> {{ order.totalPrice|commerceCurrency(cart.currency) }}<br></li>
                <li><strong>{{ "Amount Paid"|t }}:</strong> {{ order.totalPaid|commerceCurrency(cart.currency) }}<br></li>
                <li><strong>{{ "Date"|t }}:</strong> {{ order.dateOrdered|date('D jS M Y'|t) }}<br></li>
                {% if order.pdfUrl %}
                    <li><a class="c-btn c-btn--primary -version-four -mg-btm" href="{{ order.getPdfUrl('receipt') }}">{{'Download receipt'|t}}</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="o-layout__item u-1/3@landscape-medium-tablet u-1/2@portrait-medium-tablet order-address">
            <h3>{{'Shipping Address'|t}}</h3>

            {% if order.shippingAddress %}
            {% include 'shop/_includes/addresses/address' with { address: order.shippingAddress } %}
            {% endif %}
        </div>
        <div class="o-layout__item u-1/3@landscape-medium-tablet u-1/2@portrait-medium-tablet order-address">
            <h3>{{'Billing Address'|t}}</h3>
            {% if order.billingAddress %}
            {% include 'shop/_includes/addresses/address' with { address: order.billingAddress } %}
            {% endif %}
        </div>
    </div>

    <table class="w-full">
        <thead>
        <tr>
            <th>{{'Item'|t}}</th>
            <th>{{'Unit Price'|t}}</th>
            <th>{{'Quantity'|t}}</th>
            <th class="text-right">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for item in order.lineItems %}
            <tr class="c-order_tr">
                <td data-column="{{'Item'|t}}">
                            <p class="c-cart_product-title">{{ item.purchasable.product.title }}</p>
                            
                            <p class="c-cart_product-variant">
{% if item.purchasable.product.type == "syrup" %}
    {% if item.purchasable.couleur.value != 99 %}{{item.purchasable.couleur.label}}{% endif %}
    {% if item.purchasable.productFormat.value != 99 %}{{item.purchasable.productFormat.label}}{% endif %}
    {% if item.purchasable.productQuality.value != 99 %}{{item.purchasable.productQuality.label}}{% endif %}
 {% elseif item.purchasable.product.type == "mapleProducts" %}
    {% if item.purchasable.productFormat.value != 99 %}{{item.purchasable.productFormat.label}}{% endif %}
{% elseif item.purchasable.product.type == "nuts" %}
    {% if item.purchasable.formatNoix.value != 99 %}{{item.purchasable.formatNoix.label}}{% endif %}
{% elseif item.purchasable.product.type == "giftWrapping" %}
    {% if item.purchasable.productQuality.value != 99 %}{{item.purchasable.productQuality.label}}{% endif %}
{% elseif item.purchasable.product.type == "giftBasket" %}
    {% if item.purchasable.bouteille.value != 99 %}{{item.purchasable.bouteille.label}}{% endif %}
    {% if item.purchasable.produit.value != 99 %}{{item.purchasable.produit.label}}{% endif %}
    {% if item.purchasable.productQuality.value != 99 %}{{item.purchasable.productQuality.label}}{% endif %}
{% endif %}
</p>                                
                </td>
                <td data-column="{{'Unit Price'|t}}">
                    {% if item.onSale %}
                        <strike>{{ item.price|commerceCurrency(cart.currency) }}</strike> {{ item.salePrice|commerceCurrency(cart.currency) }}
                    {% else %}
                        {{ item.price|commerceCurrency(cart.currency) }}
                    {% endif %}
                </td>
                <td data-column="{{'Quantity'|t}}">{{ item.qty }}</td>
                <td class="text-right" data-column="{{'Total'|t}}">{{ item.subtotal|commerceCurrency(cart.currency) }}</td>
            </tr>
        {% endfor %}

        {% for adjustment in order.adjustments %}
           <tr class="c-order_tr--v2 {% if loop.index == 1%}-first-row{% endif %}{% if loop.last == true%}-last-row{% endif %}">
                <td>{# {{ adjustment.type|t }} #}</td>
                <td colspan="2"><strong>{{ adjustment.name }}</strong> {% if adjustment.description|length %}({{ adjustment.description }}){% endif %}</td>
                <td class="text-right">{{ adjustment.amount|commerceCurrency(cart.currency) }}</td>
            </tr>
        {% endfor %}

        <tr class="c-order_tr--v3" >
            <td colspan="4" class="text-right">
                {# {{'Item Total: '|t}}{{ order.itemTotal|commerceCurrency(cart.currency) }}<br> #}
                <h4>Total: {{ order.totalPrice|commerceCurrency(cart.currency) }}</h4>
            </td>
        </tr>

        </tbody>
    </table>

{% endblock %}
