{# DECLARATION 		#}
	
	{% set images 				= "" %}
	{% set title 				= "" %}
	{% set content 				= "" %}
	{% set button 				= "" %}

	{% set facebook 			= "" %}
	{% set businessHour 		= "" %}
	{% set businessHourLunch 	= "" %}
	{% set businessHourSupper 	= "" %}
	{% set booking 				= "" %}
	{% set days 				= "" %}
	{% set hours 				= "" %}
	{% set shopOnline 			= "" %}

{# INITIALIZATION 	#}

	{% if type == "zero" or type == "one" %}
		{% set images 			= entry.listImages %}
		{% set title 			= entry.imgTxtTitle %}
		{% set content 			= entry.imgTxtContent %}
		{% set button 			= entry.imgTxtButton %}
	{% elseif type == "two" %}
		{% set images 			= craft.entries.section('recipe_single').level(1).orderBy('postDate desc').all() %}
	{% elseif type == "three" %}
		{% set images 			= entry.recipeProducts.all() %}
	{% endif %}	

{# CODE #}

	<section class="o-section c-block-five">
		<div class="o-wrapper">
			<ul class="{% if type == 'zero' or type == 'two' or type == 'three' %}o-layout o-layout--tiny c-list_ul{% else %}c-list_ul c-list_ul_slider{% endif %} {{type}}">
				{% for entry in  images %}
					<li class=" {% if type == 'zero' or type == 'two' or type == 'three' %}o-layout__item c-list__item u-1/4@landscape-small-tablet u-1/3@portrait-small-tablet u-1/2@portrait-medium-handset{% else %}c-list__item{% endif %}">
						{% if type == 'zero' or type == 'one' %}
							{% set imgUrl = entry.url('component5')%}
							{% set imgAlt = entry.title %}
						{% elseif type == 'two'%}
							{% set imgUrl = entry.recipeImage.one.url('component5')%}
							{% set imgAlt = entry.recipeImage.one.title %}
						{% elseif type == 'three'%}
							{% set imgUrl = entry.productsImage.one.url('component5')%}
							{% set imgAlt = entry.productsImage.one.title %}
						{% endif %}					
						<figure class="c-animation_scale">

							{% if type == "two" or type == 'three' %} <a  href="{{entry.url()}}">			<div class="c-figure">
									
							{% endif %}
							{% if type=="one" %}<a class=" no-barba" href="{{imgUrl}}">						<div class="c-figure">
									
							{% endif %}
							{% if type=="zero" %}
								<div class="c-figure">
									
							{% endif %}							
							<img src="{{imgUrl}}" alt="{{imgAlt}}">{% if type=="one" %}</a>{% endif %}
							{% if type == 'zero' or type == "two" or type == 'three' %}
								<figcaption>
									{{entry.title}}
								</figcaption>
							{% else %}
							{% endif %}			
							{% if type == "two" or type == 'three' %}</a>{% endif %}	
							</div>		
						</figure>
					</li>
				{% endfor %}
			</ul>
			{% if type == 'one' %}
			<div class="c-test"></div>
			{% endif %}	
		</div>
	</section>

	