{# DECLARATION 		#}
	
	{% set images 				= "" %}
	{% set title 				= "" %}
	{% set content 				= "" %}
	{% set button 				= "" %}

	{% set facebook 			= "" %}
	{% set businessHour 		= "" %}
	{% set businessHourLunch 	= "" %}
	{% set businessHourSupper 	= "" %}
	{% set booking 				= "" %}
	{% set days 				= "" %}
	{% set hours 				= "" %}
	{% set shopOnline 			= "" %}

{# INITIALIZATION 	#}

	{% if type == "zero" %}

		{% set images 			= entry.backgroundImage.one.url() %}


	{% endif %}

	{% if type == "one" %}

		{% set images 			= global.backgroundImage.one.url() %}


	{% endif %}

{# CODE #}

	<section class="o-section c-block-four -{{type}}">
		<div class="c-block-four_bg" data-parallax="scroll" data-image-src="{{images}}">
			{% if type == "one" %}
			<div class="o-wrapper -two">
			<h2 class="c-title-w-line">{{global.componentFourTitle}}</h2>
			<div class="c-block-four_content">
			{{global.componentFourContent}}
			</div>
			<a class="c-btn c-btn--primary" href="{{global.componentFourLink.url()}}" target="{{global.componentFourLink.getTarget()}}">{{global.componentFourLink.text}}</a>
			</div>
			{% endif %}
		</div>
	</section>