{# DECLARATION 		#}

{# INITIALIZATION 	#}

{# CODE #}

	<section class="o-section c-block-nine">
		<div class="o-wrapper -three">
			<div class="o-layout o-layout--reverse">
<div class="o-layout__item u-1/2@landscape-medium-tablet -recipe">
				<div class="c-table">
					<div class="c-table_info">
				<h1 class="c-recipe_title-h1">{{entry.title}}</h1>
				<ul class="o-list-bare c-table_info_ul">
					<li class="c-table_services">{{'Services: '|t}}{{entry.recipeServices}}</li>
					<li class="c-table_clock">{{'Preparation time: '|t}}{{entry.recipeTime}}</li>
					<li class="c-table_clock">{{'Cooking time: '|t}}{{entry.recipeBakeTime}}</li>
				</ul>
				</div>
				<div class="c-table_ingredient">
					<h3>{{'Ingredients'|t}}</h3>
					{{entry.recipeIngredients}}
				</div>
				<div class="c-table_preparation">
					<h3>{{'Preparation'|t}}</h3>
					{{entry.recipePreparation}}
				</div>			
				</div>
				<div class="c-recipe_share">
				<h3>{{"Share your discovery"|t}}</h3>
				<ul class="c-recipe_social-media">
					<li class="c-recipe_social-media_facebook"><a class="fb-share" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{entry.url}}">Facebook</a></li>
					{# <li class="c-recipe_social-media_pinterest sharethis-inline-share-buttons"><a>Pinterest</a></li> #}
					<li class="c-recipe_social-media_twitter twitter-share-button"><a class="tw-share" href="https://twitter.com/share?ref_src=twsrc%5Etfw">Twitter</a></li>
				</ul>
				</div>
			</div>				
				<div class="o-layout__item u-1/2@landscape-medium-tablet -image">
					<img src="{{entry.recipeImage.one.url('component9')}}" alt="{{entry.recipeImage.one.title}}">
				</div>
			
			</div>
		</div>
	</section>