{# DECLARATION 		#}

	{% set logo 				= "" %}
	{% set address 				= "" %}
	{% set email 				= "" %}
	{% set phone 				= "" %}
	{% set facebook 			= "" %}
	{% set businessHour 		= "" %}
	{% set businessHourLunch 	= "" %}
	{% set businessHourSupper 	= "" %}
	{% set booking 				= "" %}
	{% set days 				= "" %}
	{% set hours 				= "" %}
	{% set shopOnline 			= "" %}

{# INITIALIZATION 	#}

	{% set logo 				= craft.app.sites.primarySite.baseUrl ~ "assets/images/logos/brix-66_header_logo.svg" %}
	{% set address 				= global.infoAddress %}
	{% set email 				= global.infoEmail %}
	{% set phone 				= global.infoPhone %}
	{% set facebook 			= global.infoFacebook %}
	{% set businessHour 		= global.infoBusinessHour %}
	{% set businessHourLunch 	= global.infoLunch %}
	{% set businessHourSupper 	= global.infoSupper %}
	{% set booking 				= global.infoBooking.text %}
	{% set days 				= global.boutiqueJoursOuverts %}
	{% set hours 				= global.boutiqueHeuresDouverture %}
	{% set shopOnline 			= global.infoShopOnline.text %}

{# CODE #}

	<section class="o-section c-block-ten">
		<div class="o-wrapper">
			<div class="o-grid">
				<div class="o-grid__item -title-zero">
					<h3>{{'Contact us'|t}}</h3>
				</div>
				<div class="o-grid__item -title-one">
					<h3>{{'Business hours'|t}}</h3>
				</div>
				<div class="o-grid__item -content-zero">
					<ul class="o-list-bare c-block-ten_ul">
						<li class="u-1/1@window-large u-1/2@landscape-small-tablet -address">{{address|nl2br}}</li>
						<li class="u-1/1@window-large u-1/2@landscape-small-tablet -phone">{{phone}}</li>					
						<li class="u-1/1@window-large u-1/2@landscape-small-tablet -email"><a href="mailto:{{email}}">{{email}}</a></li>
						<li class="u-1/1@window-large u-1/2@landscape-small-tablet -facebook"><a class="c-footer_fb" href="{{facebook}}" rel="external nofollow" target="_blank">{{"Follow us"|t}}</a></li>			
						</ul>
				</div>	
				<div class="o-grid__item -content-one">
					<div class="c-content">
						<p class="c-footer_title">{{'The sugar shack'|t}}</p>	
							<ul class="o-list-bare c-block-ten_ul-two">
							<li>{{'Lunch: '|t}}{{businessHourLunch}}</li>
							<li>{{'Dinner: '|t}}{{businessHourSupper}}</li>
							</ul>
							<p><a href="" class="c-btn c-btn--primary">{{"Book"|t}}</a></p>
							</div>
				</div>
				<div class="o-grid__item -content-two">
					<div class="c-content">
						<p class="c-footer_title">{{'The store'|t}}</p>	
						<ul class="o-list-bare c-block-ten_ul-two">
							<li>{{days}}</li>
							<li>{{hours}}</li>
						</ul>
						</div>
				</div>													
			</div>
		</div>
	</section>