{# DECLARATION 		#}

{# INITIALIZATION 	#}

{# CODE #}

	<section class="o-section c-block-seven">
		<div class="o-wrapper">
			<div class="c-block-seven_ul">
				{% for block in entry.menus.all() %}
				    {% if block.type == "menusTab" %}
						<div class="figure">
							<div class="c-image">
							<div class="o-ratio c-block-seven_menu" style="background: url({{block.imageDeFond.one.url()}})">
									{% if loop.index == 1 %}
										<a href="{{global.menuBrunch.one.url()}}" target="_blank">
									{% elseif loop.index == 2 %}											
									{% if global.menuSupper|length %}
										<a href="{{global.menuSupper.one.url()}}" target="_blank">
									{% endif %}
									{% endif %}
							<div class="c-diamond-shape_background"></div>
							<div class="c-diamond-shape_text">
								{% if craft.locale == "fr" %}
	    						<h2><span>Menu du</span>{{ block.titre }}</h2>
	    						{% else %}
	    						<h2>{{ block.titre }}<span>Menu</span></h2>
	    						{% endif %}
	    					</div>
	    					</a>
						</div>						
						</div>
						</div>
	    			{% endif %}
				{% endfor %}
				</div>
		</div>	
	</section>