{# DECLARATION 		#}
	
	{% set images 				= "" %}
	{% set title 				= "" %}
	{% set content 				= "" %}
	{% set button 				= "" %}

	{% set facebook 			= "" %}
	{% set businessHour 		= "" %}
	{% set businessHourLunch 	= "" %}
	{% set businessHourSupper 	= "" %}
	{% set booking 				= "" %}
	{% set days 				= "" %}
	{% set hours 				= "" %}
	{% set shopOnline 			= "" %}

{# INITIALIZATION 	#}

	{% if type == "c-image-and-text" %}

		{% set images 			= entry.imgTxtImage %}
		{% set title 			= entry.imgTxtTitle %}
		{% set content 			= entry.imgTxtContent %}
		{% set button 			= entry.imgTxtButton %}

	{% endif %}

	{% if type == "c-recipe" %}

		{% set entry 			= global.recipeMonthSwitch.one() %}
		{% set title 			= entry.title %}
		{% set content 			= entry.recipeMonth %}
		{% set url 				= entry.url() %}
		{% set urlTwo 			= global.recipeIndex.one.url() %}
		{% set images 			= entry.recipeImage %}

	{% endif %}

{# CODE #}

	<section class="o-section c-block-three {{type}}">
		<div class="o-wrapper">
			<div class="c-block-three_wrap">
				{% if disposition == "normal" %}
				<div class="c-block-three_first u-12/20@landscape-medium-tablet -item">
					{% if type == "c-image-and-text" or type == "c-recipe" %}
						<div class="c-block-three_slider">
							{% for image in images %}
								<div class="o-ratio {% if ratio == 'one'%}o-ratio--component3-1{% endif %}" style="background: url('{{image.url()}}');"></div>
							{% endfor %}
						</div>
						<div class="c-block-three_slider_dots"></div>	
					{% elseif type == "c-contact" %}												
						<div id="c-google-maps"></div>
					{% endif %}
				</div>
				{% endif %}
				<div class="c-block-three_second u-11/20@landscape-medium-tablet -item -content">
					<div class="border one"><div></div></div>
					<div class="border two"><div></div></div>
					
					{% if type == "c-image-and-text" %}
						
						<h2>{{title}}</h2>
						{{content}}
						{% if button|length %}
							<a class="c-btn c-btn--primary" href="{{button.getUrl()}}" target="{{button.getTarget()}}">{{button.text}}</a>
						{% endif %}

					{% elseif type == "c-recipe" %}
							
						{% if handle == "recipe" %}
							<h3>{{'Recipe of the month'|t}}</h3> 
							<h2>{{title}}</h2>
						{% elseif handle == "home" %}	
							<h2>{{'Recipe of the month'|t}}</h2>
						{% endif %}

	    				{{content}}

						{% if handle == "recipe" %}
							<a class="c-btn c-btn--primary" href="{{url}}">{{'See the steps'|t}}</a>
						{% elseif handle == "home" %}	
							<a class="c-btn c-btn--primary" href="{{urlTwo}}">{{'Learn our secrets'|t}}</a>
						{% endif %}

					{% elseif type == "c-contact" %}		
					
						{% include "_components/forms/form-zero.html" %}			
							
					{% endif %}
				</div>	
				{% if disposition == "inverse" %}
				<div class="c-block-three_first u-12/20@landscape-medium-tablet -item">
					{% if type == "c-image-and-text" or type == "c-recipe" %}
						<div class="c-block-three_slider">
							{% for image in images %}
								<div class="o-ratio {% if ratio == 'one'%}o-ratio--component3-1{% endif %}" style="background: url('{{image.url()}}');"></div>
							{% endfor %}
						</div>
						<div class="c-block-three_slider_dots"></div>	
					{% elseif type == "c-contact" %}												
						<div id="c-google-maps"></div>
					{% endif %}
				</div>
				{% endif %}

			</div>
		</div>
	</section>