{# DECLARATION 		#}

	{% set title 				= "" %}
	{% set content 				= "" %}
	{% set button 				= "" %}

{# INITIALIZATION 	#}

	{% if number == 0 %}

	{% set title 				= entry.contentTitle %}
	{% set content 				= entry.contentText %}
	{% set button 				= entry.contentButton %}

	{% else %}

	{% set title 				= entry.contentTitleTwo %}
	{% set content 				= entry.contentTextTwo %}
	{% set button 				= entry.contentButtonTwo %}

	{% endif %}	

{# CODE #}

	<section class="o-section c-content {{type}}">
		<div class="o-wrapper -one">
			{% if number == 0 %}<h2>{% else %}<h2 class="c-title-w-line">{% endif %}{{title|nl2br}}</h2>
			<div class="c-content_text">
				{{content}}
				{% if button|length%}
					{% if button.getUrl()%}
					<a class="c-btn c-btn--primary" href="{{button.getUrl()}}" {% if button.getTarget()|length %}target="{{button.getTarget()}}"{% endif %}>{{button.text}}</a>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</section>