{% if craft.app.language == "en" %}
	{% set videoID = "stYcULhC6ss" %}
{% else %}	
	{% set videoID = "1COONZZb6xs" %}
{% endif %}



{% if craft.app.language == "fr" %}
<section class="o-section c-block-eight">
	<div class="o-wrapper">
		<div class="c-block-eight_video">
			<iframe class="c-video" src="https://www.youtube.com/embed/{{videoID}}?vq=hd1080&amp;rel=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;nologo=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
		</div>
	</div>
</section>
{% endif %}