<ul class="o-list-bare address-data">

    {% if address.firstName is not empty or address.lastName is not empty %}
    
        <li class="c-child">
            <strong>
                {% if address.firstName is not empty %}
                    {{ address.firstName }}
                {% endif %}

                {% if address.lastName is not empty %}
                    {{ address.lastName }}
                {% endif %}
            </strong>
        </li>
    {% endif %}
    
<li class="c-child">{% if address.phone is not empty %}{{ address.phone }}{% endif %}</li>
<li class="c-child">
    {% if address.address1 is not empty %}
        {{ address.address1 }},
    {% endif %}
                {% if address.city is not empty %}
                {{ address.city }},
            {% endif %}
<br>

 
    {% if address.countryText is defined %}{{ address.countryText }}{% endif %}    {% if address.stateText is defined %}{{ address.stateText }}&nbsp;&nbsp; {% endif %}            {% if address.zipCode is not empty %}
                {{ address.zipCode }}
            {% endif %}</li>


</ul>
