<div class="address-fieldset {{ class }}">
    <h3>{{ title }}</h3>
    {% if addresses and currentUser%}
        {% for address in addresses %}
            <div class="address-select c-address_list" data-address-id="{{ address.id }}">
                
                   
                        {% include 'shop/_includes/addresses/address' %}
<ul class="o-list-bare">
                        <li><a class="edit c-btn c-btn--primary -version-four -mg-btm" href="{{ url('shop/customer/addresses/edit?addressId='~ address.id ~'&redirect='~craft.app.request.fullPath)}}">{{'Edit'|t}}</a>
                        </li>
                    </ul>
<div class="radio ">
 <label class="field">
                    <input type="radio" name="{{ name }}Id"
                        {% if attribute(cart,name~'Id') == address.id %}checked="checked"{% endif %} value="{{ address.id }}"/>
                        
                        <p>{{'Send to this address'|t}}</p>
                        </label>                        
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="address-select">

        {% if attribute(cart, name~'Id') %}
            {% set addressHasErrors = attribute(cart, name).hasErrors() %}
        {% else %}
            {% set addressHasErrors = false %}
        {% endif %}

        {% if currentUser %}
            <div class="radio -new">
                {# If we have no addresses expand the 'New Address" fields by default it to being checked. If we have errors on the address also check and expand. #}
                <label class="field">
                <input type="radio" name="{{ name }}Id"
                    {% if not addresses|length or addressHasErrors %}checked="checked"{% endif %} value=""/>
                <p>{{"New"|t }} <span>{{ title|t }}</span></p>
                </label>
            </div>
        {% endif %}

        <div class="body {% if currentUser %}hidden{% endif %}">
            {% if addressHasErrors %}<span class="flash">{{ cart.getErrors(name)|join }}</span><br>{% endif %}
            {% include 'shop/_includes/addresses/form' with {
            'modelName': name,
            'address': attribute(cart, name)
            } %}

        </div>
    </div>
</div>
