{% set countries = craft.commerce.countries.allCountriesAsList %}
{% set states = craft.commerce.states.allStatesAsList %}

{% set modelName = modelName is defined ? modelName : 'address' %}
{% set model = address is defined ? address : null %}

<div class="addressBox {{ modelName }}">

    <div class="">
        <div class="c-accont_register">

            <div class="c-form_field">
                <input id="{{ modelName }}-firstName"class="c-form_input" type="text" name="{{ modelName }}[firstName]" value="{{ model ? model.firstName : '' }}">
                <div class="c-status"></div>
                <label class="c-form_label">{{"First Name *"|t}}</label>
                <span class="focus-border"></span>
                {% if model and model.getErrors('firstName') %}
                    <span class="flash">{{ model.getErrors('firstName')|join }}</span>
                {% endif %}                
            </div>   

            <div class="c-form_field">
                <input id="{{ modelName }}-lastName"class="c-form_input" type="text" name="{{ modelName }}[lastName]" value="{{ model ? model.lastName : '' }}">
                <div class="c-status"></div>
                <label class="c-form_label">{{"Last Name *"|t}}</label>
                <span class="focus-border"></span>
            {% if model and model.getErrors('lastName') %}
                <span class="flash">{{ model.getErrors('lastName')|join }}</span>
            {% endif %}             
            </div>                        


        {#   <label for="{{ modelName }}-businessName">{{'Business Name'|t}}</label>
            <input type="text" id="{{ modelName }}-businessName" class="w-full" name="{{ modelName }}[businessName]" value="{{ model ? model.businessName : '' }}">
            {% if model and model.getErrors('businessName') %}
                <span class="flash">{{ model.getErrors('businessName')|join }}</span>
            {% endif %}

            <div class="flex -mx-4">
                <div class="flex-1 mx-4">
                    <label for="{{ modelName }}-businessTaxId">Business Tax ID</label>
                    <input type="text" id="{{ modelName }}-businessTaxId" class="w-full" name="{{ modelName }}[businessTaxId]" value="{{ model ? model.businessTaxId : '' }}">
                    {% if model and model.getErrors('businessTaxId') %}
                        <span class="flash">{{ model.getErrors('businessTaxId')|join }}</span>
                    {% endif %}
                </div>
                <div class="flex-1 mx-4">
                    <label for="{{ modelName }}-businessId">Business ID</label>
                    <input type="text" id="{{ modelName }}-businessId" class="w-full" name="{{ modelName }}[businessId]" value="{{ model ? model.businessId : '' }}">
                    {% if model and model.getErrors('businessId') %}
                        <span class="flash">{{ model.getErrors('businessId')|join }}</span>
                    {% endif %}
                </div>
            </div> #}
   
{# 
        <div class="flex-1 mx-4"> #}

            <div class="c-form_field">
                <input id="{{ modelName }}-address1"class="c-form_input" type="text" name="{{ modelName }}[address1]" value="{{ model ? model.address1 : '' }}">
                <div class="c-status"></div>
                <label class="c-form_label">{{"Address"|t}}</label>
                <span class="focus-border"></span>
            {% if model and model.getErrors('address1') %}
                <span class="flash">{{ model.getErrors('address1')|join }}</span>
            {% endif %}           
            </div>    


{#             <label for="{{ modelName }}-address2">Address 2</label>
            <input type="text" id="{{ modelName }}-address2" class="w-full" name="{{ modelName }}[address2]" value="{{ model ? model.address2 : '' }}">
            {% if model and model.getErrors('address2') %}
                <span class="flash">{{ model.getErrors('address2')|join }}</span>
            {% endif %} #}

            <div class="flex -mx-4">
                <div class="flex-1 mx-4">
                    <div class="c-form_field">
                        <input id="{{ modelName }}-city"class="c-form_input" type="text" name="{{ modelName }}[city]" value="{{ model ? model.city : '' }}">
                        <div class="c-status"></div>
                        <label class="c-form_label">{{"City"|t}}</label>
                        <span class="focus-border"></City>
                        {% if model and model.getErrors('city') %}
                            <span class="flash">{{ model.getErrors('city')|join }}</span>
                        {% endif %}        
                    </div>    
                </div>
                <div class="flex-1 mx-4">
                    <div class="c-form_field">
                        <input id="{{ modelName }}-zipCode"class="c-form_input" type="text" name="{{ modelName }}[zipCode]" value="{{ model ? model.zipCode : '' }}">
                        <div class="c-status"></div>
                        <label class="c-form_label">{{"Zip Code"|t}}</label>
                        <span class="focus-border"></City>
                        {% if model and model.getErrors('zipCode') %}
                            <span class="flash">{{ model.getErrors('zipCode')|join }}</span>
                        {% endif %}    
                    </div>                        
                </div>
            </div>

            <div class="c-form_field">
                <input id="{{ modelName }}-phone"class="c-form_input" type="text" name="{{ modelName }}[phone]" value="{{ model ? model.phone : '' }}">
                <div class="c-status"></div>
                <label class="c-form_label">{{"Phone"|t}}</label>
                <span class="focus-border"></span>
            {% if model and model.getErrors('phone') %}
                <span class="flash">{{ model.getErrors('phone')|join }}</span>
            {% endif %}        
            </div>               
    
{#             <label for="{{ modelName }}-alternativePhone">Alternative Phone</label>
            <input type="text" id="{{ modelName }}-alternativePhone" class="w-full" name="{{ modelName }}[alternativePhone]" value="{{ model ? model.alternativePhone : '' }}">
            {% if model and model.getErrors('alternativePhone') %}
                <span class="flash">{{ model.getErrors('alternativePhone')|join }}</span>
            {% endif %}
 #}

            <div class="flex -mx-4">
                <div class="flex-1 mx-4">
                    <label for="{{ modelName }}-state">Province</label>
                    {% set options = (model and states[model.countryId] is defined ? states[model.countryId] : ['38']) %}
                    <div class="select-dropdown -address -states">
                    <select id="{{ modelName }}-stateId" data-modelname="{{ modelName }}" class="address-stateId w-full {% if options|length == 0 %}hidden{% endif %}" name="{{ modelName }}[stateValue]">
                    </select>
                    </div>
                    <input type="text" data-modelname="{{ modelName }}" id="{{ modelName }}-stateName" class="address-stateName {% if options|length > 0 %}hidden{% endif %} w-full" {% if model and model.stateName %}name="{{ modelName }}[stateValue]" value="{{ model.stateName}}"{% endif %}>
                    {% if model and model.getErrors('stateValue') %}
                        <span class="flash">{{ model.getErrors('stateValue')|join }}</span>
                    {% endif %}
                </div>
                <div class="flex-1 mx-4">
                    <label for="{{ modelName }}-countryId">{{'Country *'|t}}</label>
                    <div class="select-dropdown -address">
                    <select class="address-country w-full" name="{{ modelName }}[countryId]">
                        {% for key, option in countries %}
                            {% set optionValue = (model ? model.countryId : '38') %}
                            i
                            <option value="{{ key }}" {% if key == optionValue %} selected{% endif %}>{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>
                    {% if model and model.getErrors('countryId') %}
                        <span class="flash">{{ model.getErrors('countryId')|join }}</span>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>

    {% js %}
    var states = {{ craft.commerce.states.allStatesAsList|json_encode|raw }};

    $('select.address-country').change(function (){
        // get the value of the selected country.
        var cid = $(this).val();
        var $states = $(this).closest('.addressBox').find('select.address-stateId');
        var $stateName = $(this).closest('.addressBox').find('input.address-stateName');
        $states.find('option').remove();

        if (states.hasOwnProperty(cid))
        {
            // We have states for this country, show the states drop down.
            $states.removeClass('hidden');
            $states.attr('name', $states.data('modelname')+'[stateValue]');

            // We have states for this country, hide the stateName input.
            $stateName.removeAttr('name');
            $stateName.addClass('hidden');
            $stateName.val('');

            // Add all states as options to drop down.
            for (var id in states[cid])
            {
                var state = states[cid][id];
                var $option = $('<option/>');
                $option.attr('value', id).text(state);
                $states.append($option);
            }

        } else {
            // hide the states dropdown, since this country has none.
            $states.addClass('hidden');
            $states.removeAttr('name');

            // show the stateName
            $stateName.removeClass('hidden');
            $stateName.attr('name', $stateName.data('modelname')+'[stateValue]');
        }

    });

        // get the value of the selected country.
        var cid = $('select.address-country').val();
        var $states = $('select.address-country').closest('.addressBox').find('select.address-stateId');
        var $stateName = $('select.address-country').closest('.addressBox').find('input.address-stateName');
        $states.find('option').remove();

        if (states.hasOwnProperty(cid))
        {
            // We have states for this country, show the states drop down.
            $states.removeClass('hidden');
            $states.attr('name', $states.data('modelname')+'[stateValue]');

            // We have states for this country, hide the stateName input.
            $stateName.removeAttr('name');
            $stateName.addClass('hidden');
            $stateName.val('');

            // Add all states as options to drop down.
            for (var id in states[cid])
            {
                var state = states[cid][id];
                var $option = $('<option/>');
                $option.attr('value', id).text(state);
                $states.append($option);
            }

        } else {
            // hide the states dropdown, since this country has none.
            $states.addClass('hidden');
            $states.removeAttr('name');

            // show the stateName
            $stateName.removeClass('hidden');
            $stateName.attr('name', $stateName.data('modelname')+'[stateValue]');
        }


    $('select').addClass('form-control input-sm');

    {% endjs %}
