{% extends 'shop/_layouts/main' %}




{% block main %}




    <section class="o-section c-product-single">
        <div class="o-layout o-layout--large o-layout--reverse">
            <div class="o-layout__item c-info u-1/2@portrait-large-tablet">
                <div class="c-product_single_info">
                    <h1 class="c-product_title">{{ product.title }}</h1>
                    <div class="c-product_single_info_details">
                        {% if product.defaultVariant.productFormat|length  %}
                            {% if product.defaultVariant.productFormat.value != 99 %}
                                <p class="c-product-single_size -editable">{{ product.defaultVariant.productFormat.label|t }}</p>
                            {% else %}
                                <p class="c-product-single_size">{{ product.defaultFormat }}</p>                        
                            {% endif %}
                        {% endif %}
                        {% if product.defaultVariant.bouteille|length  %}
                            {% if product.defaultVariant.bouteille.value != 99 %}
                                <p class="c-product-single_size -editable">{{ product.defaultVariant.bouteille.label|t }}</p>
                            {% else %}
                                <p class="c-product-single_size">{{ product.defaultFormat }}</p>                        
                            {% endif %}
                        {% endif %}  
                        {% if product.defaultVariant.formatNoix|length  %}
                            {% if product.defaultVariant.formatNoix.value != 99 %}
                                <p class="c-product-single_size -editable">{{ product.defaultVariant.formatNoix.label|t }}</p>
                            {% else %}
                                <p class="c-product-single_size">{{ product.defaultFormat }}</p>                        
                            {% endif %}
                        {% endif %}                                                
                        <p class="c-product-single_price">{{ product.defaultPrice|commerceCurrency(cart.currency) }}</p>
                    </div>
                </div>
                <form method="POST" id="c-product_single">
                    <input type="hidden" name="action" value="commerce/cart/update-cart">
                    <input type="hidden" name="qty" value="1">
                    {{ csrfInput() }}
                    <div class="c-product_single_details">
                    {{product.productDescription}}
                    </div>
                    {% if product.variants()|length >= 1 %}
                        <div class="field select-dropdown {% if product.variants()|length <= 1  %}-hidden{% endif %}">
                            {% if product.type == "syrup" %}
                                <select name="purchasableId" id="c-product_select">
                                    {% for purchasable in product.variants() %}
                                        <option  data-id=""{% if purchasable.stock <= 0 and purchasable.hasUnlimitedStock == false %}disabled {% endif %}
                                        value="{{ purchasable.id }}" data-format="{{purchasable.productFormat.label|t}}" data-price="{{purchasable.price|commerceCurrency(cart.currency)}}"> {% if purchasable.couleur.value != 99 %} {{purchasable.couleur.label|t}}{% endif %}{% if purchasable.productFormat.value != 99 %} {{purchasable.productFormat.label|t}}{% endif %}{% if purchasable.productQuality.value != 99 %} {{purchasable.productQuality.label|t}}{% endif %}</option>
                                    {% endfor %}
                                </select>
                            {% elseif product.type == "mapleProducts" %}
                                <select name="purchasableId" id="c-product_select">
                                    {% for purchasable in product.variants() %}
                                        <option  data-id=""{% if purchasable.stock <= 0 and purchasable.hasUnlimitedStock == false %}disabled {% endif %}
                                        value="{{ purchasable.id }}" data-format="{{purchasable.productFormat.label|t}}" data-price="{{purchasable.price|commerceCurrency(cart.currency)}}"> {% if purchasable.productFormat.value != 99 %} {{purchasable.productFormat.label|t}}{% endif %}</option>
                                    {% endfor %}
                                </select>        
                            {% elseif product.type == "nuts" %}
                                <select name="purchasableId" id="c-product_select">
                                    {% for purchasable in product.variants() %}
                                        <option  data-id="" 
                                            {% if purchasable.stock <= 0 and purchasable.hasUnlimitedStock == false %}
                                                disabled
                                            {% endif %}
                                            value="{{ purchasable.id }}" data-format="{% if purchasable.formatNoix.value != 99 %}{{purchasable.formatNoix.label|t}}{% endif %}" data-price="{{purchasable.price|commerceCurrency(cart.currency)}}"> 
                                                {% if purchasable.formatNoix.value != 99 %} {{purchasable.formatNoix.label|t}}{% endif %}
                                        </option>
                                    {% endfor %}
                                </select>                                 
                            {% elseif product.type == "giftWrapping" %}
                                <select name="purchasableId" id="c-product_select">
                                    {% for purchasable in product.variants() %}
                                        <option  data-id="" 
                                            {% if purchasable.stock <= 0 and purchasable.hasUnlimitedStock == false %}
                                                disabled
                                            {% endif %}
                                            value="{{ purchasable.id }}" data-price="{{purchasable.price|commerceCurrency(cart.currency)}}"> 
                                                {% if purchasable.productQuality.value != 99 %} {{purchasable.productQuality.label|t}}{% endif %}
                                        </option>
                                    {% endfor %}
                                </select>                                                                        
                            {% elseif product.type == "giftBasket" %}
                                <select name="purchasableId" id="c-product_select">
                                    {% for purchasable in product.variants() %}
                                        <option  data-id="" 
                                            {% if purchasable.stock <= 0 and purchasable.hasUnlimitedStock == false %}
                                                disabled
                                            {% endif %}
                                            value="{{ purchasable.id }}" data-format="{% if purchasable.bouteille.value != 99 %}{{purchasable.bouteille.label|t}}{% endif %}" data-price="{{purchasable.price|commerceCurrency(cart.currency)}}"> 
                                                {% if purchasable.bouteille.value != 99 %} {{purchasable.bouteille.label|t}}{% endif %}
                                                {% if purchasable.produit.value != 99 %} {{purchasable.produit.label|t}}{% endif %}
                                                {% if purchasable.productQuality.value != 99 %} {{purchasable.productQuality.label|t}}{% endif %}
                                        </option>
                                    {% endfor %}
                                </select>                        
                            {% endif %}                                
                        </div>
                    {% endif %}                    
                    <div class="buttons">
                        <input class="c-btn c-btn--primary" type="submit" value="{{ "Add to cart"|t }}" class="button"/>
                    </div>
                </form>
<div class="c-product_share">
    <h3>{{"Share your discovery"|t}}</h3>
                <ul class="c-product_social-media">
                    <li class="c-product_social-media_facebook"><a class="fb-share" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{product.url}}">Facebook</a></li>
                    {# <li class="c-product_social-media_pinterest sharethis-inline-share-buttons"><a>Pinterest</a></li> #}
                    <li class="c-product_social-media_twitter twitter-share-button"><a class="tw-share" href="https://twitter.com/share?ref_src=twsrc%5Etfw">Twitter</a></li>
                </ul>
                </div>
            </div>
            <div class="o-layout__item u-1/2@portrait-large-tablet">
                {% include "shop/_images/product" with { class: 'u-max-full-width', number: '3' } %}
            </div>            
        </div>
    </section>          
{% endblock %}
