{% extends 'shop/_layouts/main' %}
{% import "_macros.twig" as macros %}
{% block main %}
{% if entry is defined %}
    {% set currentCat = entry.typeDeProduits.value %}
    {% set products = craft.products.limit(999).order('title').type(currentCat).all() %}
    {{currentCat}}
{% else %}
    {% set products = craft.products.limit(999).order('title').all() %}
{% endif %}



    <div class="o-layout o-layout--huge c-products-list">
        <div class="o-layout__item -cat">
            <h3 class="c-category_title">{{'Catégories'|t}}</h3>
            {% set pages = craft.entries.section('categoriesProduct').level(1).all() %}
            <nav>
                <ul class="o-list-bare c-category">
                    <li><a href="{{siteUrl}}{{'store'|t}}">{{'All products'|t}}</a></li>
                    {% for page in pages %}                    
                        <li {{ macros.isActive(page.slug) }}><a href="{{page.url()}}">{{ page.title|t }}</a></li>
                    {% endfor %}
                </ul>
            </nav>    
        </div>
        <div class="o-layout__item -products">
            {% if entry is defined %}
                <h1 class="-products">{{entry.title}}</h1>
            {% else %}
                <h1 class="-products">{{"All products"|t}}</h1>
            {% endif %}            
            <div class="o-layout">
                {% for product in products %}
                    <div class="o-layout__item c-products-list__item c-animation_scale u-1/3@landscape-small-tablet u-1/2@portrait-large-tablet u-1/3@portrait-medium-tablet u-1/2@portrait-large-handset">
                        <a href="{{product.url()}}">{% include "shop/_images/product" with { number: '3' } %}</a>
                        <div class="c-title">
                            <h3>{% if product.url %}{{ product.link }}{% else %}{{ product.title }}{% endif %}</h3>
                        </div>
                        {% if product.getVariants()|length %}
                            {%- for purchasable in product.getVariants() -%}
                                <div id="product-{{ product.id }}-purchasable-{{ purchasable.id }}" class="purchasableInfo" style="display:none;">
                                    <strong>Regular Price: </strong><strike>{{ purchasable.price|commerceCurrency(cart.currency) }}</strike><br>
                                    <strong>Now: </strong>{{ purchasable.salePrice|commerceCurrency(cart.currency) }}<br>
                                    {% if purchasable.sales %}<strong>Sales Applied:</strong><br>{% endif %}
                                    <ul>
                                        {% for sale in purchasable.sales  %}
                                            <li><strong>{{ sale.name }}</strong> {{ sale.description }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {%- endfor -%}
                            <div class="c-price">
                            {{ product.defaultPrice|commerceCurrency(cart.currency) }}
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>    
    </div>
{% endblock %}